
/* Your CSS Code here. */
.main{
	background-color: gray;
	text-align : center;
}
.pro , .pro1{
	text-align:left;
}
.image{
	width: 500px;
}
.name{
	text-align:center;
	color: black;
	padding: 20px
}

